/* Additional styles for the image */
img {
  max-width: 100%; /* Ensures image doesn't overflow its container */
  height: auto; /* Maintains aspect ratio */
}

.content-container {
  position: relative;
  overflow: hidden;
  left: 550px;
}
@media screen and (max-width: 377px) and (min-width:319px) {
  .wholePageHome {
    position: relative;
    left: 3rem;
    margin-bottom: 80vh;
  }
  .content-container {
    position: relative;
    left: -3rem;
  }
}


@media screen and (max-width: 432px) and (min-width:389px) {
  .wholePageHome {
    position: relative;
    left: 2rem;
    margin-bottom: 2vh;
  }
  .content-container {
    position: relative;
    left: -2rem;
  }
}