.demo-carousel {
  max-width: 100%;
  margin: auto;
}

.demo-carousel .carousel .slide img {
  width: 100%; /* Ensure images fill their respective carousel items */
  height: auto; /* Maintain aspect ratio */
}

/* Wedding.css */

.wholePageWedding{
  margin-left: 10rem;
}

.caroussel-container {
  display: flex;
  margin-left: 1rem;
  align-items: center;
  height: 10%;
}

.carousselWedding {
  width: 40%; /* Adjust the width as needed */
  max-width: 800px; /* Adjust the max-width as needed */
}

/* Move thumbnails to the left side */
.carousselWedding .thumbs-wrapper {
  left: 1;
  right: auto;
}

/* Adjust spacing between thumbnails */
.carousselWedding .thumbs-wrapper .thumbs {
  margin-right: 10px;
}
.thumbs {
  left: auto;
  right: 1;
}
/* Style individual thumbnails */
.carousselWedding .thumbs-wrapper .thumbs .thumb {
  border-radius: 5px; /* Optional: Add border radius to thumbnails */
}

/* Style the selected thumbnail */
.carousselWedding .thumbs-wrapper .thumbs .selected {
  border: 2px solid #007bff; /* Change border color for selected thumbnail */
}

.ImageWedding {
  width: 90%;
  height: auto;
  gap: 20px;
  display: flex;
  justify-content: center;
}
.sideImageWedding {
  width: 45rem;
  gap: 20%;
  justify-content: space-around;
}

@media (max-width: 576px) {
  /* Adjust styles for screens up to 576px wide */
  *{
    margin: 0;
    padding: 0;
  }
  .wholePageWedding{
    position: relative;
    left: -10rem;
  }
  .h1.text-center {
    margin-right: 60%;
    margin-bottom: 1rem;
  }
  .carousselWedding {
    width: 200px;
  }
  .sideImageWedding img {
    width: 300px; /* Make side images full-width on screens below 576px */
  }
}
/* Wedding.css */
.placeholder {
  width: 550px;
  height: 550px;
  background-color: #373737; /* Light gray color for the placeholder */
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder-text {
  color: #999;
  font-size: 16px;
}
